<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<fieldset>
    <legend><h2>Delete Province</h2></legend>
    <p>
        <a href="/customers">Back To List Province</a>
    </p>
    <form th:action="@{/delete-province}" method="post" th:object="${province}">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <th>Name Province</th>
                <td th:text="${province.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>