<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<fieldset>
    <legend><h2>List Province</h2></legend>
    <p>
        <a th:href="@{/create-province}">Create New Province</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <table border="1">
        <tr>
            <th>Name Province</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="province : ${provinces}">
            <tr>
                <td  th:align="center"><a th:href="@{/view-province/__${province.id}__}"  th:text="${province.name}"></a></td>
                <td><a th:href="@{/edit-province/__${province.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-province/__${province.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</fieldset>
</body>
</html>